
        body{
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, sans-serif;
            background-image: url('/images/myProfile.jpg');  
    background-size: cover;
    background-position: center;
 	background-repeat: no-repeat;
        }
        #employee {
            width: 500px;
            padding: 20px;
            border: 4px solid black;
            border-radius: 5px;
            text-align: left;  
            font-size: 24px;
            background-color: slategrey;
            margin-top: 10%;
            
        }
        #employee h2 {
            margin-top: 0;
        }
        #employee p {
            margin: 5px 0;
        }
        .back-button {
            display: block;
            padding: 10px 20px;
            margin-top: 20px;
            font-size: 18px;
            color: #fff;
            background-color: green;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            cursor: pointer;
            width:45%;
        }
        .back-button:hover {
            background-color: blue;
        }
    