
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
             background-image: url('/images/managerhome.jpg');  
    background-size: cover;
    background-position: center;
 	background-repeat: no-repeat;
        }

        h1 {
            margin: 20px 0;
            text-align: center;
            color:white;
        }

        .container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .button-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 10px;
            flex-grow: 1;
            padding: 20px;
            box-sizing: border-box;
        }

        .button-container button {
            background-color: green;
            color: white;
            border: none;
            border-radius: 10px;
            font-size: 30px;
            cursor: pointer;
            transition: background-color 0.3s;
            width: 100%;
            height: 100%;
        }

        .button-container button:hover {
            background-color: darkmagenta;
        }

        .logout-button {
            position: absolute;
            top: 20px;
            right: 20px;
            background-color: red;
            color: white;
            border: none;
            border-radius: 10px;
            font-size: 16px;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .logout-button:hover {
            background-color: darkred;
        }
    