
        body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
             background-image: url('/images/myProfile.jpg');  
    background-size: cover;
    background-position: center;
 	background-repeat: no-repeat;
        }
        label{
        color:white;
        font-size:20px;
        }
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        form {
            width: 300px; 
            padding: 20px;
            border: 1px solid black;
            border-radius: 5px;
            box-shadow: 0 0 10px black;
            background-color: slategrey;
            display: flex;
            flex-direction: column;
            position: relative;
            margin-bottom: 20px;
            margin-top: 45%;
        }
        input[type="text"] {
            margin-bottom: 15px;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button {
            padding: 10px;
            font-size: 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-bottom: 10px;
        }
        button[type="submit"] {
            background-color:green;
            color: white;
        }
        button[type="submit"]:nth-of-type(2) {
            background-color:red;
        }
        button:hover {
            opacity: 0.8;
        }
        #employee {
            margin-top: 20px;
            width: 80%;
            max-width: 800px;
            padding: 20px;
            border: 1px solid olive;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: olive;
            
        }
        #employee p {
            margin: 10px 0;
            font-size:18px;
        }
        #error-message {
            color: red;
            font-weight: bold;
            display: none;
            position: absolute;
            top: -25px;
            width: 100%;
            text-align: center;
            font-size:25px;
        }
        
    