 body {
        height: 100%;
        margin: 0;
        padding: 20px; 
        display: flex;
        flex-direction: column;  
        font-family: Arial, sans-serif;
        background-image: url('/images/viewAllProject.jpg');  
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    table {
        width: 100%;  
        border-collapse: collapse;
        background-color: slategrey;
        overflow-x: auto;
        display: block;
        white-space: nowrap; 
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
        background-color: olive;
    }
    th {
        background-color: dimgrey;
        color: white;
    }
    th, td {
        min-width: 80px;  
    }
    .back-button {
        margin-top: auto; 
        align-self: center;  
        padding: 10px 20px;  
        background-color: darkblue; 
        color: white; 
        border: none; 
        border-radius: 5px;  
        cursor: pointer;  
        font-size: 16px; 
    }
    .back-button:hover {
        background-color: purple;
    }