
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color:olive;
        }
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        form {
            width: 300px; /* Adjust as needed */
            padding: 20px;
            border: 1px solid black;
            border-radius: 5px;
            box-shadow: 0 0 10px black;
            background-color: saddlebrown;
            display: flex;
            flex-direction: column;
            position: relative;
        }
        label{
        color:white;
        font-size:20px;
        }
        input[type="text"] {
            margin-bottom: 15px;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button {
            padding: 10px;
            font-size: 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-bottom: 10px;
        }
        button[type="submit"] {
            background-color: #4CAF50;
            color: white;
        }
        button[type="submit"]:nth-of-type(2) {
            background-color: #f44336;
        }
        button:hover {
            opacity: 0.8;
        }
        #project {
            margin-top: 20px;
            width: 80%;
            max-width: 800px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #fff;
			font-size: 25px; /* Increased font size */
        }
        #project p {
            margin: 10px 0;
            font-size:20px;
        }
        #project{
        background-color:olive;
        border:1px solid olive;
        }
        #error-message {
            color: red;
            font-weight: bold;
            display: none;
            position: absolute;
            top: -25px;
            width: 100%;
            text-align: center;
            font-size:20px;
        }
    