		body{
		 background-image: url('/images/viewAllProject.jpg');  
    background-size: cover;
    background-position: center;
 	background-repeat: no-repeat;
		}
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
                        background-color: olive;
            
        }
        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid black;
            font-size:20px;
        }
        th {
            background-color:slateblue;
            font-size:25px;
        }
        .button-container {
            text-align: left;
        }
        .back-button {
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: slateblue;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            display: inline-block;
        }
        .back-button:hover {
            background-color: teal;
        }
    